.container-chat {
  height: 100vh;
  display: grid;
  grid-template-rows: 80px 1fr 100px;
}

.chat-header {
  padding: 0 30px;
  color: #fff;
  background-color: #111;
  display: flex;
  align-items: center;
}

.chat-header h2 {
  font-size: 20px;
}

.chat-content {
  padding: 30px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.chat-input {
  padding: 0 30px;
  color: #fff;
  background-color: #111;
  display: flex;
  align-items: center;
}

.chat-input .form-field {
  /* background-color: #fff; */
  width: 100%;
  padding-top: 15px;
}

.send-icon {
  cursor: pointer;
}

span {
  font-size: 16px;
}

/* Messages */

.username {
  font-size: 16px;
  color: #000;
}

.date {
  font-size: 13px;
}

.message {
  display: flex;
  justify-content: space-between;
  color: #000;
}
