<div class="container-chat">
  <section class="chat-header">
    @if (receiverUser.username && receiverUser.email) {
    <h2>
      {{ receiverUser.username }} <span>({{ receiverUser.email }})</span>
    </h2>
    }
  </section>
  <section #scrollContainer class="chat-content">
    @for(msg of messages; track msg._id; let i = $index) { @if (msg.senderId === user._id){
    <div class="chat-message">
      <div class="chat-message-user-info">
        <!-- Verifica si el mensaje anterior lo envio el mismo usuario para no mostrar el nombre -->
        @if( i > 0 && messages[i-1].senderId !== user._id){
        <p class="username">{{ user.username }}</p>
        <!-- Solamente si el id es 0 va a mostrar el nombre siempre -->
        }@else if( i === 0 ) {
        <p class="username">{{ user.username }}</p>
        }
      </div>
      <div class="message">
        <p>{{ msg.message }}</p>
        <p class="date">{{ msg.createdAt | date : 'dd/MM/yyyy h:mm a' }}</p>
      </div>
    </div>
    }@else{
    <div class="chat-message">
      <div class="chat-message-user-info">
        <!-- Verifica si el mensaje anterior lo envio el mismo usuario para no mostrar el nombre -->
        @if( i > 0 && messages[i-1].senderId !== receiverUser._id){
        <p class="username">{{ receiverUser.username }}</p>
        <!-- Solamente si el id es 0 va a mostrar el nombre siempre -->
        }@else if (i === 0 ) {
        <p class="username">{{ receiverUser.username }}</p>
        }
      </div>
      <div class="message">
        <p>{{ msg.message }}</p>
        <p class="date">{{ msg.createdAt | date : 'dd/MM/yyyy h:mm a' }}</p>
      </div>
    </div>
    } } @empty {
    <p>No hay mensajes</p>
    }
  </section>

  <section class="chat-input">
    @if (receiverUser.username) {
    <mat-form-field class="form-field" appearance="outline">
      <input
        [(ngModel)]="chatInput"
        (keydown.enter)="sendMessage()"
        matInput
        placeholder="Escribe un mensaje a {{ receiverUser.username }}"
      />
      <mat-icon (click)="sendMessage()" class="send-icon" matSuffix>send</mat-icon>
    </mat-form-field>
    }
  </section>
</div>
