.navbar {
  background-color: #000;
  max-height: 100vh;
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons li {
  cursor: pointer;
  margin-top: 15px;
}

.icons li .icon {
  padding: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.icons li .icon:hover {
  transition: all 0.1s ease-in-out;
  background-color: #333;
  border-radius: 50%;
}

li {
  list-style: none;
}

.container-logo {
  margin-bottom: 30px;
}

.logo {
  font-size: 20px;
  margin-bottom: 10px;
}

.logo li {
  margin-bottom: 20px;
}

@media screen and (max-width: 1400px) {
  .icons li {
    cursor: pointer;
    margin-top: 10px;
  }
  .icons li .icon {
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
  }

  .container-logo {
    margin-bottom: 10px;
  }

  .logo {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .logo li {
    margin-bottom: 12px;
  }
}
