<nav class="navbar flex h-full flex-col items-center justify-between bg-cyan-950 p-4 text-white">
  <ul class="icons">
    <app-nav-bar-button
      (click)="showChats()"
      iconSrc="/assets/icons/chat-icon.svg"
      ariaLabel="Chats"
      imgAlt="Chats"
      [isActive]="selectedComponent === 'Chats'"
    ></app-nav-bar-button>
    <app-nav-bar-button
      (click)="showUserProfile()"
      iconSrc="/assets/icons/user-icon.svg"
      ariaLabel="Perfil de usuario"
      imgAlt="Perfil de usuario"
      [isActive]="selectedComponent === 'UserProfile'"
    ></app-nav-bar-button>
    <app-nav-bar-button
      (click)="showConfig()"
      iconSrc="/assets/icons/settings-icon.svg"
      ariaLabel="Configuraciones"
      imgAlt="Configuraciones"
      [isActive]="selectedComponent === 'Config'"
    ></app-nav-bar-button>
    <app-nav-bar-button
      (click)="logoutUser()"
      iconSrc="/assets/icons/logout-icon.svg"
      ariaLabel="Cerrar sesión"
      imgAlt="Cerrar sesión"
    ></app-nav-bar-button>
  </ul>
  <div class="container-logo">
    <ul class="logo cursor-default text-xl font-semibold">
      <li>T</li>
      <li>A</li>
      <li>L</li>
      <li class="mb-4">K</li>
      <li>S</li>
      <li>P</li>
      <li>A</li>
      <li>C</li>
      <li>E</li>
    </ul>
  </div>
</nav>
