<nav class="navbar">
  <ul class="icons">
    <li><mat-icon class="icon" fontIcon="chat"></mat-icon></li>
    <li><mat-icon class="icon" fontIcon="account_circle"></mat-icon></li>
    <li><mat-icon class="icon" fontIcon="settings"></mat-icon></li>
    <li><mat-icon class="icon" fontIcon="logout"></mat-icon></li>
  </ul>
  <div class="container-logo">
    <ul class="logo">
      <li>T</li>
      <li>A</li>
      <li>L</li>
      <li>K</li>
      <li></li>
      <li>S</li>
      <li>P</li>
      <li>A</li>
      <li>C</li>
      <li>E</li>
    </ul>
  </div>
</nav>
