<nav class="navbar h-screen bg-gray-900 flex flex-col text-white justify-between p-4 items-center">
  <ul class="icons">
    <li
      class="rounded-4xl bg-cyan-950 cursor-pointer mb-4 hover:bg-cyan-700 hover:rounded-3xl hover:scale-105 transition-all duration-100 ease-in flex justify-center items-center"
    >
      <img class="p-5" src="/assets/icons/chat-icon.svg" alt="chat-icon" />
    </li>

    <li
      class="rounded-4xl bg-cyan-950 cursor-pointer mb-4 hover:bg-cyan-700 hover:rounded-3xl hover:scale-105 transition-all duration-100 ease-in flex justify-center items-center"
    >
      <img class="p-5" src="/assets/icons/settings-icon.svg" alt="settings-icon" />
    </li>
    <li
      class="rounded-4xl bg-cyan-950 cursor-pointer mb-4 hover:bg-cyan-700 hover:rounded-3xl hover:scale-105 transition-all duration-100 ease-in flex justify-center items-center"
    >
      <img class="p-5" src="/assets/icons/logout-icon.svg" alt="settings-icon" />
    </li>
  </ul>
  <div class="container-logo">
    <ul class="logo text-white text-xl">
      <li>T</li>
      <li>A</li>
      <li>L</li>
      <li class="mb-4">K</li>
      <li>S</li>
      <li>P</li>
      <li>A</li>
      <li>C</li>
      <li>E</li>
    </ul>
  </div>
</nav>
