@import 'tailwindcss';

p {
  margin-bottom: 0;
}
/* .chat-list {
  height: 100%;
} */
/* HEADER */
/* .chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin: 0 20px;
  border-bottom: 1px solid #ccc;
} */

/* h2 {
  font-size: 20px;
}

.add-icon {
  cursor: pointer;
  padding: 15px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.add-icon:hover {
  background-color: #ccc;
  transition: all 0.1s ease-in-out;
} */

/* LIST */

/* .chat-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 20px;
  color: #000;
  } */

/* .chat-list-item {
  padding: 0 10px;
  margin: 0 10px;
} */

/* .container-item {
  box-sizing: border-box;
  padding: 15px 0px;
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
} */

/* .chat-list-item:hover {
  background-color: #ccc;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.chat-list-item p {
  margin: 0;
}

.chat-list-icon {
  color: #5f6368;
}

span {
  font-size: 13px;
}

.active-chat {
  background-color: #ccc;
  border-radius: 10px;
} */
