<section>
  <div class="sticky top-0 z-999 bg-gray-100">
    <div class="flex items-center justify-between p-4">
      <h3 class="text-xl font-bold">Chats</h3>
      <button
        class="cursor-pointer rounded-full outline-0 transition-all duration-75 ease-in-out hover:bg-gray-300"
        (click)="openSearchDialog()"
      >
        <img class="p-3" src="/assets/icons/add-icon.svg" alt="add-icon" />
      </button>
    </div>
  </div>
  <div class="h-full overflow-y-auto bg-gray-100">
    @for (privateChat of privateChats; let i = $index; track privateChat._id) {
      <div class="group mx-2">
        <div
          class="cursor-pointer rounded-md px-2 py-3 transition-all duration-100 ease-in-out hover:bg-gray-200"
          [ngClass]="{ 'bg-gray-300 hover:bg-gray-300': activeChatId === privateChat._id }"
          (click)="activeChatId !== privateChat._id ? openChat(privateChat._id, privateChat.receiverUser, i) : null"
        >
          <div class="flex items-center justify-between">
            <div class="flex items-center gap-2">
              <div class="flex h-10 w-10 items-center justify-center overflow-hidden rounded-full bg-gray-400">
                <img
                  class="object-cover"
                  src="{{ privateChat.receiverUser.profilePictureUrl || 'assets/icons/user-icon.svg' }}"
                  alt=""
                />
              </div>
              <div>
                <p class="text-base">{{ privateChat.receiverUser.username }}</p>
                <p class="text-xs text-gray-800">{{ privateChat.lastMessage }}</p>
              </div>
            </div>

            <div
              class="mr-2 flex items-center justify-center gap-3 text-xs text-gray-800 transition-all duration-200 ease-in-out group-hover:mr-0"
            >
              {{ privateChat.lastMessageAt | date: 'HH:mm a' }}
              @if (privateChat.unreadMessagesCount > 0 && activeChatId !== privateChat._id) {
                <div class="flex h-6 w-6 items-center justify-center rounded-full bg-cyan-600 text-center text-white">
                  <span>
                    {{ privateChat.unreadMessagesCount }}
                  </span>
                </div>
              }
              <div class="opacity-0 transition-all duration-200 ease-in-out group-hover:opacity-100">
                <img src="/assets/icons/arrow-down-icon.svg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    } @empty {
      <div class="flex h-60 items-center p-8 text-center text-gray-800">
        <div
          class="empty flex cursor-pointer flex-col items-center gap-2 rounded-md p-8 text-sm hover:bg-gray-300"
          (click)="openSearchDialog()"
        >
          <span class="">No se encontraron chats, agrega a alguien y empieza a chatear</span>
          <img src="/assets/icons/add-icon.svg" alt="add-icon" />
        </div>
      </div>
    }
  </div>
</section>

@if (isModalOpen) {
  <app-search-dialog></app-search-dialog>
}
