<div class="grid h-screen grid-rows-[1fr_auto]">
  <app-home-nav-bar class="fixed"></app-home-nav-bar>

  <div class="grid grid-cols-[1fr_1fr] self-center justify-self-center rounded-xl border-1 border-gray-400 shadow-md">
    <div class="flex flex-col items-center justify-center rounded-l-xl bg-cyan-950 px-8 py-6 text-center">
      <span class="cursor-default text-4xl font-semibold tracking-widest text-white">TALK SPACE</span>
    </div>
    <div class="w-sm md:max-w-3xl">
      <form class="flex flex-col gap-6 rounded-r-xl bg-gray-200 p-8" [formGroup]="form">
        <div class="flex flex-col items-center gap-2">
          <h1 class="text-center text-2xl font-bold text-gray-900">Registrate</h1>
          <p class="text-sm text-gray-600">Crea una cuenta en Talk Space</p>
          @if (isRegisterFailed) {
            <div class="rounded-lg border-1 border-red-500 p-2">
              <span class="text-sm text-red-400">El correo ya se encuentra registrado</span>
            </div>
          }
        </div>
        <div>
          <label class="block text-sm font-medium" for="email">Nombre de Usuario</label>
          <div class="mt-1">
            <input
              class="block w-full rounded-lg border-1 border-gray-300 p-2 text-sm font-medium text-gray-800 shadow-xs -outline-offset-2 placeholder:text-gray-500 focus:outline-2 focus:outline-cyan-600"
              type="text"
              id="username"
              formControlName="username"
            />
          </div>
          <div class="flex h-1 flex-col px-2">
            @if (usernameField.touched) {
              <!--  -->
              @if (usernameField.hasError('required')) {
                <span class="text-xs text-red-400 transition-all duration-300 ease-in"
                  >El nombre de usuario es requerido</span
                >
              }
              @if (usernameField.hasError('maxlength')) {
                <span class="text-xs text-red-400 transition-all duration-300 ease-in"
                  >El nombre de usuario debe tener maximo 30 caracteres</span
                >
              }
              @if (usernameField.hasError('minlength')) {
                <span class="text-xs text-red-400 transition-all duration-300 ease-in"
                  >El nombre de usuario debe tener al menos 3 caracteres</span
                >
              }
            }
          </div>
        </div>

        <div>
          <label class="block text-sm font-medium" for="email">Correo electronico</label>
          <div class="mt-1">
            <input
              class="block w-full rounded-lg border-1 border-gray-300 p-2 text-sm font-medium text-gray-800 shadow-xs -outline-offset-2 placeholder:text-gray-500 focus:outline-2 focus:outline-cyan-600"
              type="email"
              id="email"
              formControlName="email"
            />
          </div>
          <div class="flex h-1 flex-col px-2">
            @if (emailField.touched) {
              <!--  -->
              @if (emailField.hasError('emailValidator')) {
                <span class="text-xs text-red-400 transition-all duration-300 ease-in">Ingrese un correo valido</span>
              }
              @if (emailField.hasError('maxlength')) {
                <span class="text-xs text-red-400 transition-all duration-300 ease-in"
                  >El correo debe tener maximo 100 caracteres</span
                >
              }
              @if (emailField.hasError('required')) {
                <span class="text-xs text-red-400 transition-all duration-300 ease-in">El correo es requerido</span>
              }
            }
          </div>
        </div>
        <div class="">
          <label class="block text-sm font-medium" for="password">Contraseña</label>
          <div class="mt-1">
            <input
              class="block w-full rounded-lg border-1 border-gray-300 p-2 text-sm font-medium text-gray-800 shadow-xs -outline-offset-2 placeholder:text-gray-500 focus:outline-2 focus:outline-cyan-600"
              type="password"
              id="password"
              formControlName="password"
            />
          </div>
          <div class="flex h-1 flex-col px-2">
            @if (passwordField.touched) {
              <!--  -->
              @if (passwordField.hasError('required')) {
                <span class="text-xs text-red-400 transition-all duration-300 ease-in">La contraseña es requerida</span>
              }
              @if (passwordField.hasError('minlength')) {
                <span class="text-xs text-red-400 transition-all duration-300 ease-in"
                  >La contraseña debe tener al menos 8 caracteres</span
                >
              }
            }
          </div>
        </div>
        <!-- <div class="">
          <label class="block text-sm font-medium" for="confirmPassword">Confirmar contraseña</label>
          <div class="mt-1">
            <input
              class="block w-full rounded-lg border-1 border-gray-300 p-2 text-sm font-medium text-gray-800 shadow-xs -outline-offset-2 placeholder:text-gray-500 focus:outline-2 focus:outline-cyan-600"
              type="password"
              id="confirmPassword"
              formControlName="confirmPassword"
            />
          </div>
          <div class="flex h-1 flex-col px-2">
            @if (confirmPasswordField.touched || confirmPasswordField.dirty) {
              @if (confirmPasswordField.hasError('required')) {
                <span class="text-xs text-red-400 transition-all duration-300 ease-in"
                  >Debe confirmar la contraseña</span
                >
              }
              @if (form.hasError('crossPasswordValidator')) {
                <span class="text-xs text-red-400 transition-all duration-300 ease-in"
                  >Las contraseñas no coinciden</span
                >
              }
            }
          </div>
        </div> -->
        <div>
          <button
            (click)="registerUser()"
            class="mt-2 w-full cursor-pointer rounded-lg bg-cyan-600 py-2.5 text-sm font-medium text-white shadow-xs hover:bg-cyan-700"
          >
            Crear cuenta
          </button>
        </div>
        <div class="text-center">
          <a [routerLink]="['/auth/login']" class="cursor-pointer text-sm underline">¿Ya tienes una cuenta?</a>
        </div>
      </form>
    </div>
  </div>
  <app-home-footer></app-home-footer>
</div>
