<div class="fixed inset-0 z-1000 flex items-center justify-center bg-gray-900/60" (click)="closeSearchDialog()">
  <div class="w-lg rounded-lg bg-cyan-950 p-5 shadow-md" (click)="$event.stopPropagation()">
    <ng-container [formGroup]="formGroup">
      <div class="mt-2">
        <div class="flex items-center rounded-md bg-cyan-800 p-4 inset-shadow-sm inset-shadow-gray-900">
          <input
            formControlName="email"
            type="email"
            class="block min-w-0 grow text-gray-300 placeholder:text-gray-300 focus:outline-none"
            placeholder="Buscar usuario por email"
            (keydown.escape)="closeSearchDialog()"
          />
          <img src="assets/icons/search-icon.svg" alt="" />
        </div>
      </div>
    </ng-container>
    <div class="flex h-6 flex-col gap-1 px-4 py-2">
      @if (emailField.hasError('email')) {
        <span class="text-sm text-red-400">Ingrese un correo valido</span>
      }
      @if (emailField.hasError('maxlength')) {
        <span class="text-sm text-red-400">El correo debe tener 100 caracteres como maximo</span>
      }
    </div>
    <div class="px-2">
      @if (user.username && user.email) {
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-1">
            <div class="flex h-8 w-8 items-center justify-center overflow-hidden rounded-full bg-gray-400">
              <img class="object-cover" src="{{ user.profilePictureUrl || 'assets/icons/user-icon.svg' }}" alt="" />
            </div>
            <p class="text-gray-200">{{ user.username }}</p>
            <p class="text-sm text-gray-400">{{ user.email }}</p>
          </div>

          <button
            (click)="sendMessage()"
            class="flex cursor-pointer gap-1 rounded-md bg-cyan-600 p-2 text-sm text-gray-100 hover:bg-cyan-700"
          >
            <img src="assets/icons/send-icon.svg" alt="" />
            Enviar mensaje
          </button>
        </div>
      }
    </div>
  </div>
</div>
