<div class="grid h-screen grid-rows-[1fr_auto] bg-linear-to-br from-cyan-800">
  <app-home-nav-bar class="fixed"></app-home-nav-bar>

  <div class="grid grid-cols-[1fr_1fr] self-center justify-self-center rounded-xl border-1 border-gray-400 shadow-md">
    <div class="w-sm md:max-w-3xl">
      @if (failLogin) {
        <div class="mb-4 rounded-lg border-2 border-red-800 p-2 text-center">
          <span class="text-base font-light text-red-400">Usuario o contraseña incorrectos. Intente nuevamente</span>
        </div>
      }
      <form class="flex flex-col gap-6 rounded-l-xl bg-gray-200 p-8" [formGroup]="form">
        <div class="flex flex-col items-center gap-2">
          <h1 class="text-center text-2xl font-bold text-gray-900">Bienvenido de vuelta</h1>
          <p class="text-sm text-gray-600">Inicia sesion con tu cuenta de Talk Space</p>
        </div>
        <div>
          <label class="block text-sm font-medium" for="email">Correo electronico</label>
          <div class="mt-1 rounded-full">
            <input
              class="block w-full rounded-lg border-1 border-gray-300 p-2 text-sm font-medium text-gray-800 shadow-xs -outline-offset-2 placeholder:text-gray-500 focus:outline-2 focus:outline-cyan-600"
              type="email"
              id="email"
              formControlName="email"
              placeholder="ejemplo@dominio.com"
            />
          </div>
          <div class="flex h-2 flex-col px-2">
            @if (emailField.touched) {
              <!--  -->
              @if (emailField.hasError('email')) {
                <span class="text-xs text-red-400 transition-all duration-300 ease-in">Ingrese un correo valido</span>
              }
              @if (emailField.hasError('maxlength')) {
                <span class="text-xs text-red-400 transition-all duration-300 ease-in"
                  >El correo debe tener maximo 100 caracteres</span
                >
              }
              @if (emailField.hasError('required')) {
                <span class="text-xs text-red-400 transition-all duration-300 ease-in">El correo es requerido</span>
              }
            }
          </div>
        </div>
        <div class="">
          <label class="block text-sm font-medium" for="password">Contraseña</label>
          <div class="mt-1">
            <input
              class="block w-full rounded-lg border-1 border-gray-300 p-2 text-sm text-gray-800 shadow-xs -outline-offset-2 placeholder:text-gray-300 focus:outline-2 focus:outline-cyan-600"
              type="password"
              id="password"
              formControlName="password"
            />
          </div>
          <div class="flex h-2 flex-col px-2">
            @if (passwordField.touched) {
              <!--  -->
              @if (passwordField.hasError('required')) {
                <span class="text-xs text-red-400 transition-all duration-300 ease-in">La contraseña es requerida</span>
              }
              @if (passwordField.hasError('minlength')) {
                <span class="text-xs text-red-400 transition-all duration-300 ease-in"
                  >La contraseña debe tener al menos 8 caracteres</span
                >
              }
            }
          </div>
        </div>
        <div>
          <button
            (click)="loginUser()"
            class="mt-2 w-full cursor-pointer rounded-lg bg-cyan-600 py-2.5 text-sm font-medium text-white shadow-xs hover:bg-cyan-700"
          >
            Iniciar sesion
          </button>
        </div>
        <div class="text-center">
          <a [routerLink]="['/auth/register']" class="cursor-pointer text-sm">¿No tienes una cuenta? Registrate.</a>
        </div>
      </form>
    </div>
    <div class="flex flex-col items-center justify-center rounded-r-xl bg-cyan-950 px-8 py-6 text-center">
      <span class="cursor-default text-4xl font-semibold tracking-widest text-white">TALK SPACE</span>
    </div>
  </div>
  <footer class="cursor-default p-2 text-center">
    <p class="text-sm text-gray-900">© 2025 Talk Space. Creado por FrancoJS.</p>
  </footer>
</div>

<div
  class="absolute inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right,#f0f0f0_1px,transparent_1px),linear-gradient(to_bottom,#f0f0f0_1px,transparent_1px)] bg-[size:6rem_4rem]"
></div>
