.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 450px;
  margin: 0 auto;
  padding: 1em 2em;
}

.card-header {
  color: #fff;
  margin-bottom: 20px;
  justify-content: center;
}

.card-content form {
  display: flex;
  flex-direction: column;
}

.card-content form button {
  border-radius: 2px;
}

.form-field {
  margin-bottom: 20px;
}
