html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: rgb(3, 110, 101);
  background: linear-gradient(59deg, rgba(3, 110, 101, 1) 0%, rgba(1, 46, 42, 1) 100%);
}
